<div class="container__big-card"
     [ngClass]="{ 'hovered': isHovered }"
     (mouseenter)="isHovered = true"
     (mouseleave)="isHovered = false">
     
  <a [routerLink]="['content', Id]">
  <div class="big-card__photo">
    <img
      src="{{ photoCover }}"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      
          {{ cardDescription }}

    </p>
  </div>
  </a>
</div>
