.container__menu-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px 0;
}

.container__menu-title > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: white;
}

.container__menu-title > div > h1 {
  font-size: 8vw; /* Fonte adaptável conforme a largura da tela */
  font-family: 'Geist Mono', 'Open Sans', sans-serif;
  color: #2fbfef;
  background-color: white;
  text-align: center;
  white-space: nowrap; /* Evita quebra de linha no título */
}

.container__menu-title > div > img {
  width: 15vw; /* Ajusta conforme a tela */
  max-width: 100px; /* Limite máximo */
  height: auto;
  background-color: white;
}

.container__menu-title > hr {
  width: 90%;
  border: 1px solid #2fbfef;
}

/* Ajustes para telas menores */
@media (max-width: 600px) {
  .container__menu-title > div {
    flex-direction: column; /* Empilha imagem e título em telas pequenas */
  }

  .container__menu-title > div > h1 {
    font-size: 10vw; /* Aumenta um pouco o tamanho em telas menores */
  }

  .container__menu-title > div > img {
    width: 20vw;
  }
}
