.container__small-card {
  margin-bottom: 15px;
  @media (min-width: 1000px) {
    width: 700px;
  }
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
  padding: 0; 
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden; 
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.small-card__photo {
  flex: 1; 
  max-width: 40%; 
  display: flex;
}

.small-card__photo > img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.small-card__title {
  flex: 2;
  display: flex;
  align-items: center;
  padding: 20px;
}

.small-card__title > h1 {
  font-size: 16px;
  color: black;
  text-align: left;
}

.hovered {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

a {
  display: block;
  text-decoration: none;
}
