.container__content {
  width: 100%;
  min-height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #2fbfef;
  font-weight: bold;
}

.content__cover {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content__cover > img {
  border-radius: 5px;
  width: 90%;
  max-width: 1200px;
  height: auto;
  object-fit: cover;
}

.content__title {
  text-align: center;
  margin-top: 20px;
  width: 90%;
}

.content__title > h1 {
  font-size: 24px;
}

.content__description {
  margin-top: 15px;
  width: 90%;
  max-width: 800px;
  text-align: justify;
}

.content__description > p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

/* Responsividade */
@media (max-width: 768px) {
  .content__cover > img {
    width: 100%;
  }

  .content__title > h1 {
    font-size: 20px;
  }

  .content__description > p {
    font-size: 16px;
  }

  .back-button {
    font-size: 16px;
    left: 10px;
  }
}
